
button:focus,
a:focus-visible,
input:focus,
select:focus {
  box-shadow: none !important;
}
body, p, span, div, h1, h2, h3, h4, h5, h6 {
  color:var(--font-dark);
  transition: color .4s ease;
}
a {
  color: var(--font-dark);
  text-decoration: none;
}
a:hover {
  color: var(--purple-dark);
}
#app {
  background: var(--bg-light);
  transition: all .4s ease-in;
  min-height: 100vh;
}
.btn-clear {
  border: none;
  background: none;
  color: var(--font-dark);
  transition: color .4s ease;
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}
.nav-header {
  .nav-link {
    font-size: px-to-rem(20);
  }
}
.text-muted {
  color: var(--font-secondary) !important;
}
.text-color-gradient {
  background: -webkit-linear-gradient(right, var(--purple-dark), var(--font-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: $my-medium-screen) {
  html {
    background: var(--bg-light);
    transition: all .4s ease-in;
    scrollbar-gutter: stable both-edges; //убираем прыжок страницы при появлении полосы прокрутки
  }
}
